<html ng-app = "instaSearchApp">
    <head>
        <title> Instagram Pic Search </title>
        <style>
            div.background {
                border: 2px solid black;
                background-color: black;
                opacity:0.5 ;
            }

            .title {
                color: #FFFFFF;
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js" type="text/javascript"></script>
    </head>
    <body>
    <div class="background">

   <b class="title"> Enter any hashtag & I'll find you the pics .. </b>
        <br><br><br>
    <li ng-controller="QueryController">
        <form ng-submit="queryInstagram(hashtag)">
            <input type="text" name="hashtag" ng-model="hashtag" required="" />
            <input type="submit" value="Submit" id="submit" />
            Looking for pics with hashtag as # {{hashtag}}

            {{ test }}
            <br> <br>
            Results :
            <br>
            <li ng-repeat="test1 in results.data">
               <a href="{{test1.link}}"> {{test1.link}} </a>
                <br>
                <a href="{{test1.link}}" target="_blank">
                    <img src="{{test1.images.standard_resolution.url}}" height="640" width="640">
                </a>
            </li>



        </form>
        <script src="instaSearchApp.js" type="text/javascript"></script>
    </div>
    </body>
</html>



